/*========== Normalize ==========*/
/* Reset the page */
html,
body {
  margin: 0;
  padding: 0; }

/* normalize the page */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* Fonts */
/* Colors */
.navbar-brand img {
  width: 2rem;
  height: auto; }

.container {
  max-width: 992px;
  margin: 0 auto; }

.feature {
  background-image: url("../images/fishing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/* Round Cornors */
/* Linear Gradients*/
/* Breakpoints */
