/*========== Normalize ==========*/
/* Reset the page */
html,
body {
  margin: 0;
  padding: 0; }

/* normalize the page */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* Fonts */
/* Colors */
.navbar-brand img {
  width: 2rem;
  height: auto; }

/*
$flax
$olivine
$ming
$purple-taupe
$red-orange
*/
.bg-navbar {
  background-color: #353535; }

.container {
  max-width: 992px;
  margin: 0 auto; }

.feature {
  background-image: url("../images/fishing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.copyright {
  font-size: 0.8rem; }

/* Round Cornors */
/* Linear Gradients*/
/* Breakpoints */
