/*========== Normalize ==========*/
/* Reset the page */
html,
body {
  margin: 0;
  padding: 0; }

/* normalize the page */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* Fonts */
/* Colors */
/* Navigation */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  padding-bottom: 20px; }

.navbar {
  position: sticky;
  margin-bottom: 0; }

.navbar-toggler {
  padding: 1rem;
  font-size: 2rem;
  float: right; }

.navbar-nav {
  list-style-type: none; }

.navbar-nav li {
  padding-top: 30px;
  padding-left: 15px; }

nav .navbar-brand img {
  width: 4rem;
  height: auto; }

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  z-index: 999;
  display: inline-block;
  background-color: #fefefe;
  margin: 20px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: auto; }

.modal-image {
  max-width: 500px;
  height: auto;
  overflow: hidden; }

.close {
  color: #aaa;
  float: right;
  font-size: 2rem;
  font-weight: bold; }

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

header .feature {
  width: 100%;
  background-image: url("../images/aperture-vintage-lg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }

main {
  width: 100%;
  display: block; }

footer {
  text-align: center;
  font-size: 1rem; }

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 1024px;
  margin: 0 auto;
  display: block; }

.row {
  margin-top: 20px; }

.feature .feature-box {
  padding-top: 100px;
  padding-bottom: 100px; }

/* Round Cornors */
/* Linear Gradients*/
/* Breakpoints */
body {
  background-color: #fff;
  color: #333; }

h1, h2, h3, h4, h5 {
  text-align: center; }

h1 {
  font-weight: 700;
  line-height: 85px;
  font-size: 80px;
  margin: 0 0 23px 0; }

h2, h3, h4, h5 {
  font-weight: 400;
  line-height: 23px;
  margin: 0 0 23px 0; }

h3 {
  border-bottom: 1px solid gainsboro;
  margin-left: 5rem;
  margin-right: 5rem; }

p {
  line-height: 23px;
  margin: 0 0 23px 0; }

header {
  text-align: center;
  display: block; }
  header h1 {
    margin-bottom: 0; }
  header h4 {
    margin-top: 0; }

main p {
  padding: 10px; }

/* Core */
.text-center {
  text-align: center; }

/* Links */
a {
  text-decoration: none;
  color: #3C787E;
  outline: none; }

a:hover {
  color: #F6574C; }

a:active {
  color: #EDE580; }

/* buttons */
.btn-main {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #F6574C;
  padding: 10px 15px;
  border: 2px solid #fff; }

.btn-main a {
  color: #FFFFFF; }

.btn-main a:hover {
  color: #F6574C; }

.btn-main a:active {
  color: #EDE580; }

.btn-main:hover {
  background-color: #FFFFFF; }

.sort-btn > button {
  margin: 5px; }

/* cards */
.card {
  padding: 10px; }

.card:hover {
  border: 1px solid #eee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }

/* Title boxes */
.title-box {
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  padding: 1.5rem;
  max-width: 350px; }
  .title-box h2 {
    margin: 0;
    color: #3C6E71; }
  .title-box h4 {
    margin: 0;
    color: #3C6E71; }

/* Bottom Navigation */
#bottom-nav {
  text-align: center; }

#bottom-nav ul {
  list-style-type: none;
  padding: 0; }

#bottom-nav ul li {
  display: inline-block;
  padding: 10px 15px;
  text-align: center; }

.feature .feature-box {
  background: rgba(0, 0, 0, 0.5);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  color: #FFFFFF; }

.feature > div > i {
  font-size: 4rem;
  padding-bottom: 2rem; }

.feature > div > span {
  font-size: 2rem;
  font-weight: normal;
  position: absolute;
  z-index: 1; }

.feature > div > span a i {
  color: #F6574C; }

.section {
  padding: 3rem 1rem;
  background-color: #fff; }

.section i {
  font-size: 5rem; }

.section .icons i {
  font-size: 2rem; }

/* buttons */
.btn-gallery {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #F6574C;
  padding: 10px 15px;
  border: 2px solid #F6574C;
  outline: none; }

.btn-gallery {
  color: #FFFFFF; }

.btn-gallery:hover {
  color: #3C787E;
  cursor: pointer; }

.btn-gallery:active {
  color: #EDE580; }

.btn-gallery:hover {
  background-color: #FFFFFF; }

/* Contact */
.contact {
  display: block;
  text-align: center;
  margin: 0 auto;
  text-align: center; }

.contact i {
  font-size: 2rem; }

.contact textarea, input {
  border-radius: 5px;
  width: 100%;
  height: 5rem; }

.contact p {
  text-align: center;
  margin: 0 10px 0 0; }

.contact .contact-form {
  display: block;
  margin: 0 auto;
  max-width: 500px; }

.contact .contact-form .form-item {
  padding: 5px;
  border-radius: 5px;
  height: 3rem; }

.contact .contact-form textarea, input {
  border-radius: 5px;
  width: 100%;
  height: 10rem; }

.contact a i {
  font-size: 2rem;
  color: #FFFFFF; }

/* Icon links */
.contact a i:hover {
  color: #F6574C; }

.contact a i:active {
  color: #EDE580; }

.cta-content i {
  font-size: 2rem; }

.cta-content textarea, input {
  border-radius: 5px;
  width: 100%;
  height: 10rem; }

.cta-content p {
  text-align: center;
  margin: 0 10px 0 0; }

.cta-content .form-item {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  height: 2rem; }

.cta-content a i {
  font-size: 2rem;
  color: #FFFFFF; }

/* Icon links */
.cta-content a i:hover {
  color: #F6574C; }

.cta-content a i:active {
  color: #EDE580; }

/* controllers */
.hide {
  display: none; }

.img-responsive {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center; }

.text-center {
  text-align: center; }

.anchor {
  height: 3rem; }

/* CSS Animations */
/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.25); }
  100% {
    transform: scale(1); } }

@keyframes zoomin {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.25); }
  100% {
    transform: scale(1); } }

/*End of Zoom in Keyframes */
/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.85); }
  100% {
    transform: scale(1); } }

@keyframes zoomout {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.85); }
  100% {
    transform: scale(1); } }

/*End of Zoom out Keyframes */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .nav-top {
    width: 100%; }
  .content p {
    padding: 1rem; }
  .icons {
    padding-top: 2rem; }
  .icons i {
    padding: 0 1rem; }
  /* Modal */
  .modal-image {
    width: 100%;
    height: auto; } }

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .nav-top {
    width: 100%; }
  .icons {
    padding-top: 1rem; }
  .navbar-toggler {
    display: none; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .navbar-toggler {
    display: none; } }

/* Large Devices, Wide Screens */
