// Layout
// Design

/*
$flax
$olivine
$ming
$purple-taupe
$red-orange
*/

.bg-navbar {
  background-color: $jet;
}

.container {
  max-width: 992px;
  margin: 0 auto;
}

.feature {
  background-image: url("../images/fishing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.copyright {
  font-size: 0.8rem;
}
