// Layout
// Design

/*
$flax
$olivine
$ming
$purple-taupe
$red-orange
*/

.bg-navbar {
  background-color: $jet;
}

.container {
  max-width: 992px;
  margin: 0 auto;
}

header {
  margin-top: 58px;
}

.feature {
  background-image: url("../images/fishing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.copyright {
  font-size: 0.8rem;
  font-weight: 200;
  font-style: italic;
}

.breadcrumb {
  font-size: 0.8rem;
  font-weight: 200;
}

.introduction {
  margin-top: 20vh;
  height: 80vh;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.75);
}

