// Layout
.container {
  max-width: 992px;
  margin: 0 auto;
}

.feature {
  background-image: url("../images/fishing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
