/* Fonts */
$font-stack-titles: 'Oswald', sans-serif;
$font-stack: 'Droid Serif', serif;
$primary-color: #333;

/* Colors */
$flax: #EDE580;
$olivine: #A4AF69;
$ming: #3C787E;
$purple-taupe: #52414C;
$red-orange: #F6574C;

$black: #000000;
$dark-coral: #cf5c36;
$platinum: #eee539;
$trolley-grey: #7c7c7c;
$pale-gold: #efc88b;

$jet :#353535;
$myrtle-green :#3C6E71;
$white :#FFFFFF;
$gainsboro :#D9D9D9;
$dark-slate-grey :#284B63;
