/*========== Normalize ==========*/
@import 'reset';

@import 'variables';

@import 'navigation';

@import 'modal';

@import 'layout';

@import 'mixins';

body {
    background-color: #fff;
    font-family: $font-stack-titles;
    color: $primary-color;
}
h1, h2, h3, h4, h5 {
    // text-transform: uppercase;
    text-align: center;
}

h1 {
    font-family: $font-stack-titles;
    font-weight: 700;
    line-height: 85px;
    font-size: 80px;
    // text-transform: uppercase;
    margin: 0 0 23px 0;
}
h2, h3, h4, h5 {
    font-family: $font-stack-titles;
    font-weight: 400;
    // font-size: 20px;
    line-height: 23px;
    margin: 0 0 23px 0;
}
h3 {
    border-bottom: 1px solid gainsboro;
    margin-left: 5rem;
    margin-right: 5rem;
}
p {
    font-family: $font-stack;
    // font-size: 15px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

header {
    text-align: center;
    display: block;
    h1 {
        margin-bottom: 0;
    }
    h4 {
        margin-top: 0;
    }
}
main p {
    padding: 10px;
}
/* Core */
.text-center {
    text-align: center;
}


/* Links */
a {
    text-decoration: none;
    color: $ming;
    outline: none;
}
a:hover {
    color: $red-orange;
}
a:active {
    color: $flax;
}
a:visited {

}

/* buttons */
.btn-main {
    @include roundedCorners(5);
    background-color: $red-orange;
    padding: 10px 15px;
    @include buttonBorders(2,#fff);
}
.btn-main {
    a {
        color: $white;
    }
    a:hover {
        color: $red-orange;
    }
    a:active {
        color: $flax;
    }
}
.btn-main:hover {
    background-color: $white;
}
.sort-btn > button {
    margin: 5px;
}

/* Feature Image/box */
.feature {
  position: relative;
  overflow: hidden;
}

/* cards */

.card {
  padding: 10px;
}

/* Bottom Navigation */
#bottom-nav {
  text-align: center;
}
#bottom-nav ul {
  list-style-type: none;
  padding: 0;
}
#bottom-nav ul li {
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
}

.feature {
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // margin-top: 0;
    // padding-top: calc(50% - 1rem);
    @include linearGradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8));
    color: $white;
}
.feature > div > i {
    font-size: 4rem;
    padding-bottom: 2rem;
}
.feature > div > span {
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    z-index: 1;
}
.feature > div > span a i {
    color: $red-orange;
}

.content {
    padding: 3rem 1rem;
    background-color: #fff;
}
.content i {
    font-size: 2rem;
}
.content .icons i {
    font-size: 2rem;
}

/* Bio */
#bio {
    // max-width: 1024px;
    height: auto;
    margin: 0 auto;
}
#bio h3 {
    max-width: 500px;
    height: auto;
    margin: 0 auto;
}

/* Gallery */
.gallery {
    display: block;
    text-align: center;
    padding: 2rem 1rem;
}

#gallery1 {
    background-color: $white;
}

#gallery2 {
    background-color: $white;
}

.gallery .gallery-item {
    display: block;
    width: 100%;
    height: 500px;
    border: 1px solid gainsboro;
    background-color: #fff;
    // margin-bottom: 5px;
    z-index: 1;
    overflow: hidden;
}
.gallery .gallery-item:hover {
    border: 1px solid #999;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    z-index: 9;
    cursor: pointer;
}
.gallery .gallery-item .gallery-content p {
    text-align: center;
    margin-bottom: 0;
}
.gallery .gallery-item .gallery-icons {
    text-align: center;
    padding-bottom: 1rem;
}
.gallery .gallery-item .gallery-icons i {
    font-size: 1.25rem;
    padding: 5px;
}
.gallery-img {
  max-width: 350px;
  height: 300px;
  overflow: hidden;
}

.gallery .gallery-item div i {
    text-decoration: none;
    color: $ming;
    text-align: right;
}
.gallery .gallery-item div i:hover {
    color: $red-orange;
    cursor: pointer;
}
.gallery .gallery-item div i:active {
    color: $flax;
}
.gallery-title h2 {
    /*border-bottom: 1px solid gainsboro;*/
}

.gallery-item .design-item {
  overflow: hidden;
}


/* buttons */
.btn-gallery {
    @include roundedCorners(5);
    background-color: $red-orange;
    padding: 10px 15px;
    @include buttonBorders(2,$red-orange);
    outline: none;
}
.btn-gallery {
    color: $white;
}
.btn-gallery:hover {
    color: $ming;
    cursor: pointer;
}
.btn-gallery:active {
    color: $flax;
}
.btn-gallery:hover {
    background-color: $white;

}

/* Contact */
.contact {
    //
    display: block;
    text-align: center;
    margin: 0 auto;
    text-align: center;
}
.contact i {
    font-size: 2rem;
}
.contact textarea, input {
    border-radius: 5px;
    width: 100%;
    height: 5rem;
}
.contact p {
    text-align: center;
    margin: 0 10px 0 0;
}
.contact .form-item {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    height: 2rem;
}
.contact a i {
    font-size: 2rem;
    color: $white;
}
/* Icon links */
.contact a i:hover {
    color: $red-orange;
}
.contact a i:active {
    color: $flax;
}

.cta-content i {
    font-size: 2rem;
}
.cta-content textarea, input {
    border-radius: 5px;
    width: 100%;
    height: 5rem;
}
.cta-content p {
    text-align: center;
    margin: 0 10px 0 0;
}
.cta-content .form-item {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    height: 2rem;
}
.cta-content a i {
    font-size: 2rem;
    color: $white;
}
/* Icon links */
.cta-content a i:hover {
    color: $red-orange;
}
.cta-content a i:active {
    color: $flax;
}

/* controllers */
.hide {
    display: none;
}
.img-responsive {
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
}
.text-center {
    text-align: center;
}
.anchor {
    height: 3rem;
}

/* CSS Animations */
/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.25);}
  100% {transform: scale(1);}
}
@keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.25);}
  100% {transform: scale(1);}
} /*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {transform: scale(1);}
  50% {transform: scale(0.85);}
  100% {transform: scale(1);}
}
@keyframes zoomout {
    0% {transform: scale(1);}
  50% {transform: scale(0.85);}
  100% {transform: scale(1);}
}/*End of Zoom out Keyframes */

/*==========  Mobile First  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {
        .nav-top {
            width: 100%;
        }
        .content p {
            padding: 1rem;
        }
        .icons {
            padding-top: 2rem;
        }
        .icons i {
            padding: 0 1rem;
        }
        /* Modal */
        .modal-image {
            width: 100%;
            height: auto;
        }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
      //
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .nav-top {
            width: 100%;
        }
        .icons {
            padding-top: 1rem;
        }
        .navbar-toggler {
          display: none;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .navbar-toggler {
            display: none;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        //
    }
